/* BOOTSTRAP OVERRIDES */

[data-bs-theme=dark] {
  --bs-link-color: #198754;
  --bs-link-hover-color: #146c43;
}

[data-bs-theme=dark] .nav-tabs {
  --bs-nav-tabs-link-active-color: #198754;
}

[data-bs-theme=dark] .nav {
  --bs-nav-link-color: #fff;
  --bs-nav-link-hover-color: #999;
}

[data-bs-theme=dark] .nav-pills {
  --bs-nav-pills-link-active-bg: #198754;
}

body {
  padding-left: calc(env(safe-area-inset-left) - 10px) !important;
  padding-right: calc(env(safe-area-inset-right) - 10px) !important;
}

a {
  text-decoration: underline;
}

a,
a:hover {
  color: inherit;
}

.container,
.container-fluid {
  transition: padding 300ms ease;
}

@media (min-width: 576px) {
  .container,
  .container-fluid {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .row {
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.img-fluid {
  width: 100%;
}

.page-link {
  text-decoration: none;
}

/* THIRD-PARTY OVERRIDES */

[v-cloak] {
  display: none;
}

.fa-inline {
  text-decoration: inherit;
}

/* CUSTOM COMPONENTS */

.c-html,
.c-body {
  width: 100%;
}

.c-body {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 576px) {
  .c-body {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}

.c-list-inline {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.c-list-inline li {
  display: inline;
}

.c-list-inline li + li:before {
  content: ", ";
}

.c-package-link {
  user-select: text;
}
