
<!DOCTYPE html>
<html class="js c-html" lang="en-US" prefix="og: http://ogp.me/ns#" data-bs-theme="dark">
<head>
<!--[START: CONFIG]-->
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
<meta http-equiv="cleartype" content="on">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover, minimal-ui">
<meta name="HandheldFriendly" content="true">
<base target="_new">
<!--[END: CONFIG]-->
<!--[START: METAS]-->
<title>JakedUp Package Configurator</title>
<!--[END: METAS]-->
<!--[START: CSS]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="app.css">
<!--[END: CSS]-->
</head>
<body class="c-body">
<!--[START: APP]-->
<div class="container">
  <h1 class="border-bottom pb-2 mb-5">JakedUp Package Configurator</h1>
  <div class="c-app" v-cloak>
    <h3 class="h5 mb-4 text-decoration-underline">Available Packages:</h3>
    <ul class="nav nav-pills mb-5 border-bottom pb-5" id="tabs" role="tablist">
      <li class="nav-item" role="presentation" v-for="(value, key, index) in {'vendor-hybrid': 'Vendor Manifest — Hybrid'/*, 'express-hybrid': 'Express Package — Hybrid', 'kosmos-justwatch': 'Kosmos Package — JustWatch'*/}">
        <button :class="`nav-link ${index == 0 ? 'active' : ''}`" :id="`${key}-tab`" data-bs-toggle="pill" :data-bs-target="`#${key}`" type="button" role="tab" :aria-controls="key" aria-selected="true">{{ value }}</button>
      </li>
    </ul>
    <div class="c-tab-container tab-content" id="tab-content">
      <div :class="`c-tab-pane tab-pane fade ${index == 0 ? 'show active' : ''}`" :id="`${key}-hybrid`" role="tabpanel" :aria-labelledby="`${key}-hybrid-tab`" tabindex="0" v-for="(key, index) in ['vendor', 'express']">
        <div class="mb-5 border-bottom pb-5">
          <h2 class="mb-4">{{ key == 'vendor' ? 'Vendor Manifest' : 'Express Package' }} — Hybrid</h2>
          <p>
            This intelligently combines all known {{ key == 'express' ? 'Express' : '' }} packages for Syncler on-the-fly into a single hybrid package, de-duping any duplicate providers in the process.
          </p>
          <ul class="c-list-inline mb-4">
            Packages combined include:
            <li v-for="(package_url, package_name, pacakge_index) in (key == 'vendor' ? {...express.packages, ...kosmos.packages} : express.packages)"><a :href="package_url">{{ package_name }}</a></li>
            + custom providers.
          </ul>
          <p>
            You can copy the package URL as-is, or if you want a customized package, you can use the additional configuration options below...
          </p>
        </div>
        <div class="mb-5 border-bottom pb-5">
          <h3 class="h5 mb-4 text-decoration-underline">Configuration Options:</h3>
          <div class="accordion" :id="`${key}-accordion`">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#${key}-collapse-orion`" aria-expanded="true" :aria-controls="`${key}-collapse-orion`">
                  Orion
                </button>
              </h2>
              <div :id="`${key}-collapse-orion`" class="accordion-collapse collapse" :data-bs-parent="`#${key}-accordion`">
                <div class="accordion-body">
                  <div class="mb-4">
                    <p class="text-muted">
                      <em><u>NOTE:</u> To get an Orion API key, please visit: <a href="https://panel.orionoid.com/">https://panel.orionoid.com/</a> and sign up for an account.</em>
                    </p>
                  </div>
                  <div class="mb-4">
                    <label for="orion-api-key" class="form-label">Orion API Key:</label>
                    <input type="text" class="form-control text-uppercase" id="orion-api-key" placeholder="ABCDEFGHIJKLMNOPQRSTUVWXYZ123456" v-model="orion.apiKey">
                    <small class="form-text text-muted">* This will include the Orion custom search provider as you have configured it in the <a href="https://panel.orionoid.com/">Orion panel</a> under `Addons` –> `Packages` –> `Wako`</small>
                  </div>
                  <div class="mb-4" v-if="!orion.apiKey">
                    <label for="orion-common-providers" class="form-label">Orion Common Providers:</label>
                    <select class="form-control form-select" id="orion-common-providers" v-model.number="orion.commonProviders">
                      <option value="on">Include Orion's common providers</option>
                      <option value="off">Exclude Orion's common providers</option>
                    </select>
                    <small class="form-text text-muted">* Only exclude common providers if you plan on installing Orion's Syncler/Wako packages manually -- otherwise, keep this enabled</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#${key}-collapse-jackett`" aria-expanded="false" :aria-controls="`${key}-collapse-jackett`">
                  Jackett
                </button>
              </h2>
              <div :id="`${key}-collapse-jackett`" class="accordion-collapse collapse" :data-bs-parent="`#${key}-accordion`">
                <div class="accordion-body">
                  <div class="mb-4">
                    <p class="text-muted">
                      <em><u>NOTE:</u> Jackett is a custom provider that you would host on your own server, and requires an in-depth technical setup. <a href="https://www.reddit.com/r/providers4syncler/comments/1adrc0r/jackett_provider_added_to_jakedup_packages/">More info</a></em>
                    </p>
                  </div>
                  <div class="mb-4">
                    <label for="jackett-base-url" class="form-label">Jackett Base URL:</label>
                    <input type="text" class="form-control" id="jackett-base-url" placeholder="http://192.168.1.255:9117" v-model="jackett.baseUrl">
                    <small class="form-text text-muted">* <u>NOTE:</u> This address should be accessible by other devices on your local network, which includes the device with Syncler</small>
                  </div>
                  <div class="mb-4">
                    <label for="jackett-api-key" class="form-label">Jackett API Key:</label>
                    <input type="text" class="form-control" id="jackett-api-key" placeholder="abcdefghijklmnopqrstuvwxyz123456" v-model="jackett.apiKey">
                    <small class="form-text text-muted">* <u>NOTE:</u> Your private Jackett API key can be found in the upper-right corner of your Jackett web UI admin panel</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#${key}-collapse-blacklist`" aria-expanded="false" :aria-controls="`${key}-collapse-blacklist`">
                  Blacklist
                </button>
              </h2>
              <div :id="`${key}-collapse-blacklist`" class="accordion-collapse collapse" :data-bs-parent="`#${key}-accordion`">
                <div class="accordion-body">
                  <div class="mb-4" v-if="Object.keys(express.providers).length">
                    <label for="express-blacklist" class="form-label">Blacklisted Providers:</label>
                    <select class="form-control form-select" multiple size="20" id="express-blacklist" v-model="express.blacklist">
                      <option disabled>Select multiple options...</option>
                      <option disabled></option>
                      <option :value="provider_key" v-for="(provider_value, provider_key, provider_index) in express.providers">{{ provider_value.name }}</option>
                    </select>
                    <small class="form-text text-muted">* Blacklist providers to be removed from your custom package -- It is NOT RECOMMENDED to use this feature unless you know what you are doing!</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 border-bottom pb-5">
          <h3 class="h5 mb-4 text-decoration-underline">{{ key == 'vendor' ? 'Vendor' : 'Package' }} URL:</h3>
          <p>
            Copy the following URL into Syncler...
          </p>
          <p>
            <a class="c-package-link btn btn-success" :href="key == 'vendor' ? vendorUrl : expressUrl">{{ key == 'vendor' ? vendorUrl : expressUrl }}</a>
          </p>
          <p v-if="key == 'vendor'">
            <u>Tip:</u> Use a URL shortening service such as <a href="https://bit.ly/">Bit.ly</a> to easily input the vendor manifest URL into the Syncler app.
          </p>
        </div>
      </div>
      <div class="c-tab-pane tab-pane fade" id="kosmos-justwatch" role="tabpanel" aria-labelledby="kosmos-justwatch-tab" tabindex="0">
        <div class="mb-5 border-bottom pb-5">
          <h2 class="mb-4">Kosmos Package — JustWatch</h2>
          <p>
            <u>2024/01/23:</u> Do not use! This package is no longer working due to a change in JustWatch's APIs. Needs to be re-coded from the ground up, which is on my to-do list.
          </p>
          <p>
            This is similar to Syncler's WatchNow provider, but with some enhancements. This will search a pre-defined list of streaming service providers (Netflix, Hulu, Amazon, etc), and will return a link to those apps if a result is found and you have that app installed. Upon clicking a JustWatch result, Syncler will launch the respective streaming app and attempt to deep link you directly to the title. If a deep link cannot be established, you will be taken to the main activity of that application.
          </p>
          <p>
            You can copy the package URL as-is, or you can use the additional configuration options below...
          </p>
        </div>
        <div class="mb-5 border-bottom pb-5">
          <h3 class="h5 mb-4 text-decoration-underline">Configuration Options:</h3>
          <div class="accordion" id="justwatch-accordion">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#justwatch-collapse-providers" aria-expanded="true" aria-controls="justwatch-collapse-providers">
                  Providers
                </button>
              </h2>
              <div id="justwatch-collapse-providers" class="accordion-collapse collapse" data-bs-parent="#justwatch-accordion">
                <div class="accordion-body">
                  <div class="mb-4">
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="justwatch-mode" value="default" id="justwatch1" autocomplete="off" v-model="justwatch.mode">
                      <label class="form-check-label" for="justwatch1">All Providers</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="justwatch-mode" value="whitelist" id="justwatch2" autocomplete="off" v-model="justwatch.mode">
                      <label class="form-check-label" for="justwatch2">Whitelisted Providers</label>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" name="justwatch-mode" value="blacklist" id="justwatch3" autocomplete="off" v-model="justwatch.mode">
                      <label class="form-check-label" for="justwatch3">Blacklisted Providers</label>
                    </div>
                  </div>
                  <template v-for="(mode, index) in ['whitelist', 'blacklist']">
                    <div class="mb-4" v-if="justwatch.mode == mode">
                      <label :for="`justwatch-${mode}`" class="form-label">{{ mode == 'whitelist' ? 'Whitelisted' : 'Blacklisted'}} Streaming Providers:</label>
                      <select class="form-control form-select" multiple size="14" :id="`justwatch-${mode}`" v-model="justwatch[mode]">
                        <option disabled>Select multiple options...</option>
                        <option disabled></option>
                        <option :value="provider_key" v-for="(provider_value, provider_key, provider_index) in justwatch.providers">{{ provider_value }}</option>
                      </select>
                      <small class="form-text text-muted">* {{ mode == 'whitelist' ? 'Whitelist' : 'Blacklist'}} which streaming services to {{ mode == 'whitelist' ? 'include' : 'ignore'}}; Useful for when you have a streaming app installed, but do not subscribe to it</small>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5 border-bottom pb-5">
          <h3 class="h5 mb-4 text-decoration-underline">Package URL:</h3>
          <p>
            Copy the following URL into Syncler...
          </p>
          <p>
            <a class="c-package-link btn btn-success" :href="justwatchUrl">{{ justwatchUrl }}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="c-donate-links">
      <h3 class="h5 mb-4 text-decoration-underline">Support The Project:</h3>
      <p>
        If you would like to help subsidize the monthly server costs, please donate a buck or 2 through one of the following links:
      </p>
      <ul class="c-list-inline">
        <li><a class="c-buymeacoffee btn btn-dark" href="https://buymeacoffee.com/JakedUp">Buy Me A Coffee</a></li>
        <li><a class="c-venmo btn btn-dark" href="https://venmo.com/JustJakedUp">Venmo</a></li>
        <li><a class="c-paypal btn btn-dark" href="https://paypal.me/JustJakedUp">PayPal</a></li>
      </ul>
    </div>
  </div>
</div>
<!--[END: APP]-->
<!--[START: JS]-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.13/vue.global.prod.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<!--[END: JS]-->
</body>
</html>